{% extends "layout.html" %}
{% block content %}

<h1>M.Sc. Batch of NITT</h1>

<!-- iterate over linkedin scrapped data-->
{% for i in range(0, len, 3) %}

	<div class="row">
		<div class="column">
			<div class="card">
				<img src="{{ data[i][1] }}" alt="{{ data[i][0] }}" style="width:100%">
				<p></p>
				<a class="container" href="{{ data[i][5] }}"><button class="button">Contact</button></a>
				<h2 class="container">{{ data[i][0] }}</h2>
				<div class="container scrollable">
					<p class="title">{{ data[i][2] }} &amp;</p>
					<p>{{ data[i][3] }}</p>
					<p">{{ data[i][4] }}</p>
				</div>
				
				<p></p>
			</div>
		</div>

		{% if i + 1 < len %}
		<div class="column">
			<div class="card">
				<img src="{{ data[i + 1][1] }}" alt="{{ data[i + 1][0] }}" style="width:100%">
				<p></p>
				<a class="container" href="{{ data[i + 1][5] }}"><button class="button">Contact</button></a>
				<h2 class="container">{{ data[i + 1][0] }}</h2>
				<div class="container scrollable">
					<p class="title">{{ data[i + 1][2] }} &amp;</p>
					<p>{{ data[i + 1][3] }}</p>
					<p>{{ data[i + 1][4] }}</p>
				</div>
				<p></p>
			</div>
		</div>
		{% endif %}

		{% if i + 2 < len %}
		<div class="column">
			<div class="card">
				<img src="{{ data[i + 2][1] }}" alt="{{ data[i + 2][0] }}" style="width:100%">
				<p></p>
				<a class="container" href="{{ data[i + 2][5] }}"><button class="button">Contact</button></a>
				<h2 class="container">{{ data[i + 2][0] }}</h2>
				<div class="container scrollable">
					<p class="title">{{ data[i + 2][2] }} &amp;</p>
					<p>{{ data[i + 2][3] }}</p>
					<p>{{ data[i + 2][4] }}</p>
				</div>
				<p></p>
			</div>
		</div>
		{% endif %}

	</div>

{% endfor %}
{% endblock content %}