{% extends "layout.html" %}
{% block content %}

<center><h2 class="glow" style="font-size: 45px;text-align:center">Memories</h2></center>
<center><h4 style=" color: #004445; text-shadow: 0 0 1px #fff, 0 0 2px #fff ">From the Batch 2020-2022</h4></center>
<center><h5 style=" color: #004445;">**Click to see Full image**</h5></center>
<ul class="row">

	
	<li class="column card" style="height:230px;width:100%">
		<img alt="image" src="{{ url_for('static', filename='seniors/2.jpeg') }} " data-toggle="modal" data-target="#imageModal2"></li>
	<li class="column card" style="height:230px">
		<img alt="image" src="{{ url_for('static', filename='seniors/1.jpeg') }} " data-toggle="modal" data-target="#imageModal1"></li>
	<li class="column card" style="height:230px">
		<img alt="image" src="{{ url_for('static', filename='seniors/3.jpeg') }} " data-toggle="modal" data-target="#imageModal3"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:180px">
		<img alt="image" src="{{ url_for('static', filename='seniors/43.jpeg') }}" data-toggle="modal" data-target="#imageModal43"></li>
	<li class="column card" style="height:180px">
		<img alt="image" src="{{ url_for('static', filename='seniors/44.jpeg') }}" data-toggle="modal" data-target="#imageModal44"></li>
	<li class="column card" style="height:180px">
		<img alt="image" src="{{ url_for('static', filename='seniors/45.jpeg') }}" data-toggle="modal" data-target="#imageModal45"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:180px">
		<img alt="image" src="{{ url_for('static', filename='seniors/37.jpeg') }}" data-toggle="modal" data-target="#imageModal37"></li>
	<li class="column card" style="height:180px">
		<img alt="image" src="{{ url_for('static', filename='seniors/38.jpeg') }}" data-toggle="modal" data-target="#imageModal38"></li>
	<li class="column card" style="height:180px">
		<img alt="image" src="{{ url_for('static', filename='seniors/39.jpeg') }}" data-toggle="modal" data-target="#imageModal39"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:400px">
		<img alt="image" src="{{ url_for('static', filename='seniors/15.jpeg') }}" data-toggle="modal" data-target="#imageModal15"></li>
	<li class="column card" style="height:400px">
		<img alt="image" src="{{ url_for('static', filename='seniors/8.jpeg') }}" data-toggle="modal" data-target="#imageModal8"></li>
	<li class="column card" style="height:400px">
		<img alt="image" src="{{ url_for('static', filename='seniors/42.jpeg') }}" data-toggle="modal" data-target="#imageModal42"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:380px">
		<img alt="image" src="{{ url_for('static', filename='seniors/40.jpeg') }}" data-toggle="modal" data-target="#imageModal40"></li>
	<li class="column card" style="height:380px">
		<img alt="image" src="{{ url_for('static', filename='seniors/23.jpeg') }}" data-toggle="modal" data-target="#imageModal23"></li>
	<li class="column card" style="height:380px">
		<img alt="image" src="{{ url_for('static', filename='seniors/9.jpeg') }}" data-toggle="modal" data-target="#imageModal9"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:240px">
		<img alt="image" src="{{ url_for('static', filename='seniors/24.jpeg') }}" data-toggle="modal" data-target="#imageModal24"></li>
	<li class="column card" style="height:240px">
		<img alt="image" src="{{ url_for('static', filename='seniors/26.jpeg') }}" data-toggle="modal" data-target="#imageModal26"></li>
	<li class="column card" style="height:240px">
		<img alt="image" src="{{ url_for('static', filename='seniors/27.jpeg') }}" data-toggle="modal" data-target="#imageModal27"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:230px">
		<img alt="image" src="{{ url_for('static', filename='seniors/50.jpeg') }}" data-toggle="modal" data-target="#imageModal50"></li>
	<li class="column card" style="height:230px">
		<img alt="image" src="{{ url_for('static', filename='seniors/5.jpeg') }}" data-toggle="modal" data-target="#imageModal5"></li>
	<li class="column card" style="height:230px">
		<img alt="image" src="{{ url_for('static', filename='seniors/7.jpeg') }}" data-toggle="modal" data-target="#imageModal7"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:135px">
		<img alt="image" src="{{ url_for('static', filename='seniors/28.jpeg') }}" data-toggle="modal" data-target="#imageModal28"></li>
	<li class="column card" style="height:135px">
		<img alt="image" src="{{ url_for('static', filename='seniors/29.jpeg') }}" data-toggle="modal" data-target="#imageModal29"></li>
	<li class="column card" style="height:135px">
		<img alt="image" src="{{ url_for('static', filename='seniors/11.jpeg') }}" data-toggle="modal" data-target="#imageModal11"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:175px">
		<img alt="image" src="{{ url_for('static', filename='seniors/10.jpeg') }}" data-toggle="modal" data-target="#imageModal10"></li>
	<li class="column card" style="height:175px">
		<img alt="image" src="{{ url_for('static', filename='seniors/31.jpeg') }}" data-toggle="modal" data-target="#imageModal31"></li>
	<li class="column card" style="height:175px">
		<img alt="image" src="{{ url_for('static', filename='seniors/12.jpeg') }}" data-toggle="modal" data-target="#imageModal12"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:310px;">
		<img alt="image" src="{{ url_for('static', filename='seniors/19.jpeg') }}" data-toggle="modal" data-target="#imageModal19"></li>
	<li class="column card" style="height:310px">
		<img alt="image" src="{{ url_for('static', filename='seniors/14.jpeg') }}" data-toggle="modal" data-target="#imageModal14"></li>
	<li class="column card" style="height:310px">
		<img alt="image" src="{{ url_for('static', filename='seniors/6.jpeg') }}" data-toggle="modal" data-target="#imageModal6"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:240px">
		<img alt="image" src="{{ url_for('static', filename='seniors/16.jpeg') }}" data-toggle="modal" data-target="#imageModal16"></li>
	<li class="column card" style="height:240px">
		<img alt="image" src="{{ url_for('static', filename='seniors/33.jpeg') }}" data-toggle="modal" data-target="#imageModal33"></li>
	<li class="column card" style="height:240px">
		<img alt="image" src="{{ url_for('static', filename='seniors/18.jpeg') }}" data-toggle="modal" data-target="#imageModal18"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:180px">
		<img alt="image" src="{{ url_for('static', filename='seniors/13.jpeg') }}" data-toggle="modal" data-target="#imageModal13"></li>
	<li class="column card" style="height:180px">
		<img alt="image" src="{{ url_for('static', filename='seniors/17.jpeg') }}" data-toggle="modal" data-target="#imageModal17"></li>
	<li class="column card" style="height:180px">
		<img alt="image" src="{{ url_for('static', filename='seniors/41.jpeg') }}" data-toggle="modal" data-target="#imageModal41"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:150px">
		<img alt="image" src="{{ url_for('static', filename='seniors/36.jpeg') }}" data-toggle="modal" data-target="#imageModal36"></li>
	<li class="column card" style="height:150px">
		<img alt="image" src="{{ url_for('static', filename='seniors/21.jpeg') }}" data-toggle="modal" data-target="#imageModal21"></li>
	<li class="column card" style="height:150px">
		<img alt="image" src="{{ url_for('static', filename='seniors/25.jpeg') }}" data-toggle="modal" data-target="#imageModal25"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:290px">
		<img alt="image" src="{{ url_for('static', filename='seniors/22.jpeg') }}" data-toggle="modal" data-target="#imageModal22"></li>
	<li class="column card" style="height:290px">
		<img alt="image" src="{{ url_for('static', filename='seniors/32.jpeg') }}" data-toggle="modal" data-target="#imageModal32"></li>
	<li class="column card" style="height:290px">
		<img alt="image" src="{{ url_for('static', filename='seniors/20.jpeg') }}" data-toggle="modal" data-target="#imageModal20"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:240px">
		<img alt="image" src="{{ url_for('static', filename='seniors/34.jpeg') }}" data-toggle="modal" data-target="#imageModal34"></li>
	<li class="column card" style="height:240px">
		<img alt="image" src="{{ url_for('static', filename='seniors/35.jpeg') }}" data-toggle="modal" data-target="#imageModal35"></li>
	<li class="column card" style="height:240px">
		<img alt="image" src="{{ url_for('static', filename='seniors/30.jpeg') }}" data-toggle="modal" data-target="#imageModal30"></li>
</ul>

<ul class="row">
	<li class="column card" style="height:235px">
		<img alt="image" src="{{ url_for('static', filename='seniors/46.jpeg') }}" data-toggle="modal" data-target="#imageModal46"></li>
	<li class="column card" style="height:235px">
		<img alt="image" src="{{ url_for('static', filename='seniors/49.jpeg') }}" data-toggle="modal" data-target="#imageModal49"></li>
	<li class="column card" style="height:235px">
		<img alt="image" src="{{ url_for('static', filename='seniors/4.jpeg') }}" data-toggle="modal" data-target="#imageModal4"></li>
</ul>

<!-- Image Modal : Click to view full size image -->

<div class="modal fade" id="imageModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/1.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/2.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/3.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/4.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/5.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/6.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/7.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/8.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/9.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/10.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/11.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/12.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/13.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/14.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/15.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/16.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal17" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/17.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal18" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/18.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal19" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/19.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal20" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/20.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal21" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/21.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal22" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/22.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal23" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/23.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal24" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/24.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal25" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/25.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal26" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/26.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal27" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/27.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal28" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/28.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal29" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/29.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal30" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/30.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal31" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/31.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal32" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/32.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal33" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/33.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal34" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/34.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal35" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/35.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal36" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/36.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal37" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/37.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal38" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/38.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal39" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/39.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal40" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/40.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal41" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/41.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal42" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/42.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal43" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/43.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal44" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/44.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal45" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/45.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal46" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/46.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal47" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/47.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal48" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/48.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal49" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/49.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="imageModal50" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body"><img src="{{ url_for('static', filename='seniors/50.jpeg') }}" style="height:100%;width:100%"/></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock content %}